{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "eslint-comments", "promise"],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:eslint-comments/recommended",
    "plugin:promise/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "settings": {
    "import/internal-regex": "^common|^components|^contexts|^modules|^services|^styles"
  },
  "rules": {
    "import/order": [
      "error",
      {
        "alphabetize": { "caseInsensitive": true, "order": "asc" },
        "groups": [
          "builtin",
          "external",
          ["internal", "parent", "sibling", "index"]
        ],
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "consistent-return": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "import/prefer-default-export": "off"
  }
}
